NEXT_PUBLIC_SUPABASE_URL=https://voiemdmpbhmkahzjxjll.supabase.co/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZvaWVtZG1wYmhta2Foemp4amxsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE1MDQ0MDAsImV4cCI6MjA5NzA4MDQwMH0.ruZAYy1iJu0izYO5HGRttH_GPgosS8oAEwSKczf9q9k